body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Cairo', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Cairo', sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 95%;
}

/*Personalizar*/

/*Boton Grid*/
.btn-grid {
    width: 80px;
    font-size: 12px;
}

.control-label {
    font-size: 12px;
    font-weight: normal;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 0px;
}

/*Alinear los botones de los paneles a la derecha*/
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
}

.nav-tabs {
    /*border-bottom: 1px solid #ddd;
    border-bottom-width: 0px;*/
    font-family: 'Cairo', sans-serif;
}
/*Boton Cerrar Ventana*/
.boxclose {
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: red;
    border-radius: 100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%);
    background-color: red;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.modal.in .modal-dialog {
    margin-top: 100px;
}

.modal-header {
    background-color: #6aa01c;
    color: #fff;
    border-color: #6aa01c;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px 5px 0px 0px;
}

.modal-footer {
    padding: 15px;
    border-top: 1px solid #e5e5e5;
    text-align: right;
}

/*DL*/

dl {
    border: 1px solid #bdc8ca;
    background-color: #f7fafa;
}

dt,
dd {
    box-sizing: border-box;
    padding: 10px;
}

    dd ~ dt,
    dd ~ dd {
        border-top: 1px solid #bdc8ca;
    }

dt {
    float: left;
    padding-bottom: 0;
    font-size: 12px;
    font-weight: normal;
}

dd {
    border-left: 1px dotted #bdc8ca;
    background-color: #fff;
}

.dl-horizontal dd {
    margin-left: 160px;
}



.tuclase {
    text-align: left;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

.tuclase1 {
    text-align: left;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    background: #202020;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

.tuclase2 {
    text-align: left;
    font-family: Arial;
    font-size: 30px;
    COLOR: #1278BF;
    text-shadow: 0px 0px 9px #508AD3;
}

.tuclase3 {
    text-align: left;
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: 30px;
    color: #EBD758;
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
    6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
}

/*Loading o Cargando*/
.centrado {
    margin-top: 120px;
    margin-left: 40%;
    background-color: white;
    width: 200px;
    height: 150px;
    border-radius: .5em;
    border-color: #2664b9;
    border-style: solid;
}
/*Validación de Formulario de Errores*/
.validation-summary-errors {
    padding: 5px;
    background-color: #f4f5e8;
    color: #a94442;
    margin-bottom: 15px;
    border-radius: .5em;
    font-size: 14px;
    border-color: red;
}
